.container {
    font-family: sans-serif;
    background-color: #f5f6f9;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 48px;
    color: #6ec1ee;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 24px;
    color: #37474f;
    margin-bottom: 30px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    min-height: 200px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    width: calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    width: 95%;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #37474f;
  }
  
  .button {
    background-color: #6ec1ee;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #18948d;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 30px;
    }
    
    .title {
      font-size: 36px;
    }
    
    .card {
      margin: 10px;
      padding: 15px;
      width: calc(50% - 20px);
    }
    
    .button {
      padding: 10px 15px;
      font-size: 14px;
    }
  }